div
  form(name='postForm' ng-submit='savemeeting()' role='form')
    label(for='name' ) Meeting Name
    input(type='text' name='name' ng-model='meeting.name' ng-required='true' placeholder='Name')
    label(for='description') Description
    textarea(name='description' ng-model='meeting.description' ng-required='true' placeholder="Description")
    label(for='Date') Date
    input(type='date' ng-model='meeting.date')
    button.btn.btn-success(type='submit') {{buttonText}}
    