block navbar 
  nav.navbar.navbar-default
    div.navbar-header
      button.navbar-toggle.collapsed(type="button")
      a.navbar-brand(href="#") Time Coordinator App
    div.collapse.navbar-collapse(id="main-nav")
      ul.nav.navbar-nav
        li: a(ui-sref="profile") Profile
        li: a(ui-sref="upcomingmeetings") Upcoming Meetings
        li: a(ui-sref="createmeetings") Create A Meeting
      if user
        p.navbar-text.pull-right Signed in as {{user.name}}
