extends layout

block content
    h1 Edit Profile
    h2 #{user.name}
    form.loginsignup(action="/profile/edit/update" method="post" ng-controller='UserController')
      h2 Update Your Username
      .inset
        p: label(for="name" name="username") Username:
          input(id="name" name="name" type="text" ng-model='user.name')
        //p: label(for='email' name='email') Email:
          input(id='email' name='email' type='email' ng-model='user.local.email')
        input(type="submit" name="submit" id="name" value="Edit Profile")
    a(href='/profile') back to profile

