block navbar 
  nav.navbar.navbar-default
    div.navbar-header
      button.navbar-toggle.collapsed(type="button")
      a.navbar-brand(href="#") Time Coordinator App
    div.collapse.navbar-collapse(id="main-nav")
      ul.nav.navbar-nav
        li: a(href="#") Thing 1
        li: a(href="#") Thing 2
        li: a(href="#") Thing 3
      if user
        p.navbar-text.pull-right Signed in as #{user.name}
