doctype html
html(ng-app='myApp')
  head
    title= title
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
  body
    block content
    script(src='/lib/angular.js')
    script(src='/lib/angular-ui-router.js')
    script(src='/js/app.js')
