extends layout

block content
  form.loginsignup(action="/login" method="post")
    h1 User Log In
    .inset
      p: label(for="email") Email Address:
        input(type="text" name="email" id="email")
      p: label(for="password") Password:
        input(type="password" name="password" id="password")
      p: label(for="remember") Remember Me 
        input(type="checkbox" name="remember" id="remember")
      p: .p-container: span
        a(href="/signup") SignUp
        a(href="#") Forgot Password?

      div#login
        p.userlogin: input(type="submit" name='go' value="User Log In")
        p.facebooklog: input(style="background-color: #3B5998"type="submit" name="facebookgo" id="facebook" value="Log in with Facebook")
        p.googlelog: a(style="background-color: #DD4B39" href="auth/google"): img(src="/img/Red-signin-md.png" alt="sign in with google")
        p.yahoolog: a(href="/auth/twitter"): img(src="/img/twitter-link.png" alt="signin with twitter")
        a(style="background-color: #DD4B39" href="auth/google"): img(src="/img/Red-signin-md.png" alt="sign in with google")
      
  