extends layout

block content
  h1= title
  h2 Hello #{user.name}!
  a(href="profile/edit") Edit Profile
  a(href="/logout") Log out
  .row
    .col-md-5.display-box
      h3 Your Information
      .inset
      p This will be the basic profile page for a user.
    .col-md-5.col-md-offset-2.display-box
      h3 Your meetings
      .inset
      p They should be able to see all their meetings from one dashboard.
      