extends layout

block content
  h1= title
  h2 Hello #{user.name}!
  a(href="/logout") Log out
  .row(ng-controller="UserController")
    .col-md-5.display-box
      h3 Your Information
      #{message}
      .inset
      a(href="profile/edit") Edit Profile
      h5 {{user.name}}
      p {{user.local.email}}
      p This will be the basic profile page for a user.
    .col-md-5.col-md-offset-2.display-box
      h3 Your meetings
      .inset
      p. 
        {{user.meetings}} They should be able to see all their meetings from one dashboard. 
        These will eventually have time lines that display the individual meetings in a grid
      a(sref='/js/meetings/views/create-meeting') Create A New Meeting
      div(ui-view)
      