* { box-sizing: border-box; padding:0; margin: 0; }
#map {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#map img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

body {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color:white;
  font-size:1.6em;
  background:#333;
  background: url('/img/time_zone_map.jpg');
  background-size: cover;
}

h2{
  color: #333;
}

.loginsignup {
  /* original color #111 changed by Thiago */
  background:#235;
  width:300px;
  margin:30px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

.loginsignup:after {
  content:"";
  display:block;
  position:absolute;
  height:1px;
  width:100px;
  left:20%;
  background:linear-gradient(left, #111, #444, #b6b6b8, #444, #111);
  top:0;
}

.loginsignup:before {
  content:"";
  display:block;
  position:absolute;
  width:8px;
  height:5px;
  border-radius:50%;
  left:34%;
  top:-7px;
  box-shadow: 0 0 6px 4px #fff;
}

.inset {
  padding:20px;
  border-top:1px solid #333;
}

.loginsignup h1 {
  text-shadow:0 1px 0 black;
  text-align:center;
  padding:15px 0;
  border-bottom:1px solid rgba(0,0,0,1);
  position:relative;
}

.loginsignup h1:after {
  content:"";
  display:block;
  width:250px;
  height:100px;
  position:absolute;
  top:0;
  left:50px;
  pointer-events:none;
  transform:rotate(70deg);
  -webkit-transform: rotate(70deg);
  background:linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
  background-image: -webkit-linear-gradient(50deg, rgba(255,255,255,0.05), rgba(0,0,0,0)); /* For Safari */

}

label {
  color:white;
  display:block;
  padding-bottom:9px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=time],
textarea{
  color: white;
  width:100%;
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow: 0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:10px;
}
.well{
  background:linear-gradient(#1f2124, #27292c);
  border-radius:0.3em;
  border:1px solid #444;
}
.input-group-btn button,
timepicker,
.btn{
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow: 0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  color: white;
}
label[for=remember]{
  color:white;
  display:inline-block;
  padding-bottom:20;
}

input[type=checkbox] {
  display:inline-block;
  vertical-align:bottom;
}

.logonbtn {
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  color:white;
  float:center;
  font-weight:bold;
  font-size:13px;
}

.logonbtn a{
}

#tweetlog{
  background: #777;
  
}

#facebooklog{
  background: #3b5998;
}

#googlelog{
  background: #4184f3;
}

.forgotpassword {
  padding: 0 10px 10px 10px;
}

input[type=submit] {
  padding:5px 20px;
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background:#0184ff;
  color:white;
  display: block;
  width: 100%;
  float:center;
  font-weight:bold;
  cursor:pointer;
  font-size:13px;
}

input[type=submit]:hover {
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 -10px 10px rgba(255,255,255,0.1);
}

input[type=text]:hover,
input[type=password]:hover,
label:hover ~ input[type=text],
label:hover ~ input[type=password] {
  background:#27292c;
}

.p-container {
  padding:0 20px;
}

.p-container:after {
  clear:both;
  display:table;
}

.p-container span {
  display:block;
  float:left;
  color:#0d93ff;
  padding-top:8px;
  text-align: center;
}

.p-container span a{
  margin: 5px 10px;
}

.display-box{
  background: #235;
  border-radius: 0.4em;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
  padding: 25px;
  height: auto

}
.display-box a{
  padding-right: 5px;
}

.modal-header,
.modal-body,
.modal-footer{
  background: #235;
}

/*
.states form {
  background: #eee;
}*/
