div
  button.btn(ng-click="toggleEditMode()") {{editmode ? 'Disable Editing' : 'Enable Editing'}}
  h3(ng-model='singlemeeting.name' ng-attr-contenteditable='{{editmode}}') {{singlemeeting.name}}
  p {{singlemeeting.date}}
  p Admin: {{singlemeeting.admin[0].name}}
  p {{singlemeeting.description}}
  ul(ng-repeat='participant in participants') Participants:
    li {{participant.name}}
  