div(style='height: 40px;')
    a.pull-right(target='_self' href="logout") Log out
div.display-box
  form(name='postForm' ng-submit='saveMeeting()' role='form')
    label(for='name' ) Meeting Name
    input(type='text' name='name' ng-model='newmeeting.name' ng-required='true' placeholder='Name')
    label(for='description') Description
    textarea(name='description' ng-model='newmeeting.description' ng-required='false' placeholder="Description")
    label(for='Date') Date
    input(type='date' ng-model='newmeeting.date')
    button.btn.btn-success(type='submit') {{buttonText}}
    