div(style='height: 40px;')
    a.pull-right(target='_self' href="logout") Log out
.row
  .display-box
      h3 Your Information
      .inset
      a(href="profile/edit") Edit Profile
      h5 {{user.name}}
      p {{user.local.email}}
      div.socialbox
        h3 facebook
        p email {{user.facebook.email}}
        p  name {{user.facebook.name}}
        a(href='auth/unlink/facebook') Unlink facebook
        a(href='auth/connect/facebook') connect facebook
      div.socialbox
        h3 twitter
        p DisplayName {{user.twitter.displayName}} 
        p  UserName {{user.twitter.username}}
        a(href='auth/unlink/twitter') Unlink twitter
        a(href='auth/connect/twitter') connect twitter
      div.socialbox
        h3 github
        p display name {{user.github.displayName}}
        p email {{user.github.email}} 
        p  name {{user.github.username}}
        p profile 
          a(href='{{user.github.profileUrl}}') {{user.github.profileUrl}}
        a(href='auth/unlink/github') Unlink github
        a(href='auth/connect/github') connect github
      div.socialbox
        h3 google
        p email {{user.google.email}} 
        p  name {{user.google.name}}
        a(href='auth/unlink/google') Unlink google
        a(href='auth/connect/google') connect google

